<h1>Update <%= @product.name %> </h1>	
 
 
<%= form_tag "/products/#{@product.id}", method: :patch do %>
 
   <div>
     <%= label_tag :name %>
     <%= text_field_tag :name %>
   </div>
   <div>
     <%= label_tag :price %>
     <%= text_field_tag :price %>
   </div>
    <div>
     <%= label_tag :description %>
     <%= text_field_tag :description, @product.description %>
   </div>

    <%= form_for @product, url: products_path, html: { multipart: true } do |form| %>
      <%= form.file_field :avatar %>
    <% end %>

<%= image_tag @user.avatar.url %>
<%= image_tag @user.avatar.url(:medium) %>
<%= image_tag @user.avatar.url(:thumb) %>


   <div>
     <%= label_tag :image_url %>
     <%= text_field_tag :image_url%>
   </div>
   <%= submit_tag "Update product" %>
 



 <% end %> 